@media (max-width: 500px) {

    body {
        height: auto;
        width: 100%;
    }

    .container {
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .titulo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 30pt;
        padding: 5px;
    }

    .sub-titulo {
        font-family: helvetica;
        font-weight: 500;
        font-size: 12pt;
        padding: 5px;
    }

    .containerF1 {
        position: relative;
        flex-direction: column;
        margin-top: 20px;
        display: flex;
        height: auto;
        width: 100%;
    }

    .input-container {
        position: relative;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .input-container input {
        width: 100%;
        padding: 10px 0 2px 6px;
        font-size: 16px;
        border: none;
        border-bottom: 2px solid gray;
        background: none;
        outline: none;
        resize: none;
    }

    .containerF1 label {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 16px;
        color: gray;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
    }

    .input-container input:focus + label,
    .input-container input:valid + label {
        top: -20px;
        font-size: 12pt;
        color: blue;
    }

    label:hover {
        cursor: pointer;
    }

    .containerF1 input:hover {
        cursor: text;
        background-color: rgba(128, 128, 128, 0.1);
    }

    .containerF1 input:focus {
        background-color: rgba(128, 128, 128, 0.1);
        border-color: rgb(116, 163, 46);
        outline: none;
    }

    .input-checkbox {
        margin-top: 10px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .container-input-check {
        min-width: 100px;
        padding: 5px;
        vertical-align: middle;
    }

    .input-textarea {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    
    .input-textarea label {
        font-size: 16px;
        color: gray;
        text-align: left;
        padding: 5px 0px 3px 10px;
        position: absolute;
        transition: all 0.3s ease-in-out;
    }
    
    .input-textarea textarea {
        border: 2px solid gray;
        outline: none;
        border-radius: 3px;
        padding: 5px;
        font-size: 16px;
        font-family: sans-serif;
        min-width: 100%;
        min-height: 100px;
        max-width: 0;
        transition: all 0.3s ease-in-out;
        margin-top: 30px;
    }
    
    .input-textarea textarea:focus {
        border: 2px solid rgb(116, 163, 46);
        background-color: rgba(128, 128, 128, 0.1);
    }
    
    .input-textarea textarea:focus + label {
        color: blue;
        font-size: 16.5px;
    }
    
    .input-textarea textarea:hover {
        background-color: rgba(128, 128, 128, 0.1);
    }
    
    .container-input-check label {
        font-size: 18px;
        font-family: arial;
    }
    
    .container-termos {
        
    }
    
    /* TODO Alinhar verticalmente os termos com a caixinha */
    
    .termos {
        font-size: 14px;
        margin-top: 5px;
        height: auto;
        padding: 3px;
    }

    .input-btn-submit {
        padding: 6px;
        width: 100%;
        letter-spacing: 1px;
        font-weight: 600;
        font-size: 15px;
    }

}